<%= nested_form_for @daily_sale do |f| %>
  <% if @daily_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_sale.errors.count, "error") %> prohibited this daily_sale from being saved:</h2>

      <ul>
      <% @daily_sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="daily_sales_input">
    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :date, "Datum", :class => "right inline" %>
      </div> 
      <div class="six mobile-three columns">
        <%= f.date_select :date , {}, {:class => "three"} %>
      </div>
      <div class="one"></div>
    </div>

    <div class="row">
      <div class="two mobile-one columns">
        <%= f.label :store_id, "Filiale", :class => "right inline"  %>
      </div>
      <div class="ten mobile-three columns">
        <%= f.select :store_id, options_from_collection_for_select(Store.all, "id", "name", @daily_sale.store_id), {}, {:class => "three"}%>
      </div>
      <div class="one"></div>
    </div>
  </fieldset>

  <div>
    <% @i = 0 %>
    <%= f.fields_for :sales do |sale_form| %>
      <%= sale_form.hidden_field :user_id, :value => current_user.id %>
        <%= sale_form.hidden_field :store_id, :value => @daily_sale.store_id %>
        <%= sale_form.hidden_field :date, :value => @daily_sale.date %>
      <div class="row">
        <div class="four mobile-two columns">
          <%= sale_form.label :product, "Produkt" %>
          <% if controller.action_name == "new" %>
            <%= sale_form.text_field :product , :value => @default_products[@i] %>
          <% else %>
            <%= sale_form.text_field :product %>
          <% end %>
        </div>
        <div class="two mobile-one columns">
          <%= sale_form.label :value, "Wert" %> 
          <%= sale_form.number_field :value %>
        </div>
        <div class="four mobile-one columns">
          <%= sale_form.link_to_remove "Löschen", :class => "remove_sale tiny round button"%>
        </div>
         <div class="one"></div>
      </div>
      <% @i+= 1 %>
    <% end %>
  </div>
  <div class="add_sale"><%= f.link_to_add "Weiteren Umsatz hinzufügen", :sales , :class => "add_sale tiny round button" %></div>
  <div>
    <%= f.submit "speichern", :class => "medium success button" %>
  </div>
<% end %>
