<h1>Übersicht Tagesumsätze</h1>

<%= paginate @daily_sales %>

<br>
<% unless current_user.admin %>
  <p>Angezeigt werden nur die Tagesumsätze, welche von dir eingegeben wurden.</p>
<% end %>

<table>
  <tr>
    <th>Datum</th>
    <th>Filiale</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daily_sales.each do |daily_sale| %>
  <tr>
    <td><%= daily_sale.date %></td>
    <td><%= Store.find(daily_sale.store_id).name %></td>
    <% sum = 0 %>
    <% daily_sale.sales.each do |s| %>
      <% sum += s.value %>
    <% end %>
    <td><%= number_with_precision(sum, :precision => 2) %></td>
    <td><%= link_to 'anzeigen', daily_sale, :class => "tiny round secondary button" %></td>
    <td><%= link_to 'bearbeiten', edit_daily_sale_path(daily_sale), :class => "tiny round secondary button" %></td>
    <td><%= link_to 'löschen', daily_sale, confirm: 'Sicher?', method: :delete, :class => "tiny round secondary button" %></td>
  </tr>
<% end %>
</table>

<%= paginate @daily_sales %>

<br />

<%= link_to 'Neuen Tagesumsatz eingeben', new_daily_sale_path, :class => "tiny round button" %>
