<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @daily_sale.date %>
</p>

<p>
	<b>Filiale:</b>
	<%= Store.find(@daily_sale.store_id).name %>
</p>

<ol>
	<% for sale in @daily_sale.sales %>
		<li><%=h sale.product %>: <%=h number_to_currency(sale.value) %> </li>
	<% end %>
</ol>


<%= link_to 'Edit', edit_daily_sale_path(@daily_sale) %> |
<%= link_to 'Back', daily_sales_path %>
