<h3>User Detailansicht</h3>

<p>Diese Ansicht ist provisorisch!</p>

<p>
	Name: <%= @user.name %> <br>
	E-Mail. <%= @user.email %> <br>
	Erstellt am: <%= @user.created_at %> <br>
	<% unless @user.current_sign_in_at.nil? %>
		Letzter Login: <%= @user.current_sign_in_at.strftime("%d.%m.%y %H:%M") %> <br>
	<% end %>
</p>

<p><strong>Rechte:</strong><br>
	Admin: <%= @user.admin %> <br>
	Zeiterfassung: <%= @user.time_tracking %> <br>
	Endabrechnung: <%= @user.checkout_rights %> <br>
</p>

<%= link_to 'bearbeiten', edit_user_path(@user), :class => "tiny round button" %> |
<%= link_to 'zurück', users_path, :class => "tiny round secondary button" %>