<table border="1">
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Filiale</th>
    <th>Start</th>
    <th>Stop</th>
  </tr>
    
  
  <% @shifts.each do |shift| %>
  <tr>
    <td><%= shift.id %></td>
    <td>
      <% if User.exists?(shift.user_id) %>
        <%= User.find(shift.user_id).name %>
      <% else %>
        User gelöscht
      <% end %>
    </td>
    <td>
      <% if Store.exists?(shift.store_id) %>
        <%= Store.find(shift.store_id).name %>
      <% else %>
        --
      <% end %>
    </td>
    <td><%= shift.start.strftime("%d.%m.%y %H:%M") %></td>
    <td><%= shift.stop.strftime("%d.%m.%y %H:%M") %></td>

    
  </tr>
  <% end %>
</table>



