<h3>Übersicht Schichten</h3>

<%= paginate @shifts %>

<p>
  Download:
  <%= link_to "CSV", shifts_path(format: "csv") %> |
  <%= link_to "Excel", shifts_path(format: "xls") %>
</p>

<table>
	<thead>
		<tr>
			<th>Schicht ID</th>
			<th>Mitarbeiter</th>
			<th>Filiale</th>
			<th>Start</th>
			<th>Stop</th>
			<th>D-Float</th>
			<th>Dauer</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @shifts.each do |shift| %>
			<tr>
				<td><%= shift.id %></td>
				<td>
					<% if User.exists?(shift.user_id) %>
						<%= User.find(shift.user_id).name %>
					<% else %>
						User gelöscht
					<% end %>
				</td>
				<td> 
					<% if Store.exists?(shift.store_id) %>
						<%= Store.find(shift.store_id).name %>
					<% else %>
						--
					<% end %>
				</td>
				<td><%= shift.start.strftime("%d.%m.%y %H:%M") %></td>
				<td>
				<% if shift.stop.nil? %>
					--
				<% else %>
					<%= shift.stop.strftime("%d.%m.%y %H:%M") %>
				<% end %>
				<td>
				<% if shift.stop.nil? %>
					--
				<% else %>
					<%= (Time.at(shift.stop - shift.start) - 1.hour).strftime("%H:%M:%S") %>
				<% end %>
				</td>
				<td><%= link_to 'ansehen', shift , :class => "tiny round secondary button"%></td>
				<td><%= link_to 'bearbeiten', edit_shift_path(shift), :class => "tiny round secondary button" %></td>
				<td><%= link_to 'löschen', shift, :confirm => 'Sicher?', :method => :delete, :class => "tiny round secondary button" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @shifts %>

<%= link_to 'Neue Schicht', new_shift_path, :class => "tiny round button" %>

