<div>
	<p>
		<strong>User-ID:</strong>
		<%= @shift.user_id %>
	</p>

	<p>
		<strong>Start:</strong>

		<%= @shift.start.strftime("%d.%m.%y %H:%M") %>
	</p>

	<p>
		<strong>Stop:</strong>
		<% if @shift.stop.nil? %>
			--
		<% else %>
			<%= @shift.stop.strftime("%d.%m.%y %H:%M") %>
		<% end %>
	</p>

	<%= link_to 'bearbeiten', edit_shift_path(@shift) %> |
	<%= link_to 'zurück', shifts_path %>

</div>