<h3>Schicht Detailansicht</h3>

<div>
	<p>
		<strong>User:</strong>
		<% if User.exists?(@shift.user_id) %>
			<%= User.find(@shift.user_id).name %>
		<% else %>
			User gelöscht
		<% end %>
	</p>

	<p>
		<strong>Filiale:</strong>
		<% if Store.exists?(@shift.store_id) %>
			<%= Store.find(@shift.store_id).name %>
		<% else %>
			--
		<% end %>
	</p>

	<p>
		<strong>Start:</strong>

		<%= @shift.start.strftime("%d.%m.%y %H:%M") %>
	</p>

	<p>
		<strong>Stop:</strong>
		<% if @shift.stop.nil? %>
			--
		<% else %>
			<%= @shift.stop.strftime("%d.%m.%y %H:%M") %>
		<% end %>
	</p>

	<%= link_to 'bearbeiten', edit_shift_path(@shift) %> |
	<%= link_to 'zurück', shifts_path %>

</div>