<%= render :partial => '/checkouts/checkout_title' %>

<div class="row">
  	<h3>Kassenbestand (Schritt 4 von 4)</h3>

  	<p>Bitte Kassenbestand und anschließende Barentnahme aus der Kasse eingeben.</p>
  	
  	<div class="fields">
  		<%= form_for [@checkout, @cash_balance], :remote => true, :html => {:id => "cash_balance_form"} do |f| %>
			<%= f.hidden_field :checkout_id, :value => @checkout.id %>
		  	<%= f.hidden_field :user_id, :value => @user.id %>
			<%= f.hidden_field :store_id, :value => @store.id %>
			<%= f.hidden_field :date, :value => @checkout.date %>
			<div class="row">
				<div class="six columns">
					<fieldset>
						<legend>Kassenbestand</legend>
						<div class="row">
					  		<div class="two columns">
								<label for="200">200€</label>
								<%= f.number_field :bill200, :id => "200", :class => "cash submittable", :type => 'number' %>
					  		</div>
					  		<div class="two columns">
								<label for="100">100€</label>
								<%= f.number_field :bill100, :id => "100", :class => "cash submittable", :type => 'number' %>
					  		</div>
					  		<div class="two columns">
								<label for="50">50€</label>
								<%= f.number_field :bill50, :id => "50", :class => "cash submittable", :type => 'number' %>
					  		</div>
							<div class="two columns">
								<label for="20">20€</label>
								<%= f.number_field :bill20, :id => "20", :class => "cash submittable", :type => 'number' %>
							</div>
						  	<div class="two columns">
								<label for="10">10€</label>
								<%= f.number_field :bill10, :id => "10", :class => "cash submittable", :type => 'number' %>
						  	</div>
						  	<div class="two columns"></div>
						</div>		
						<div class="row">
							<div class="two columns">
								<label for="5">5€</label>
								<%= f.number_field :bill5, :id => "5", :class => "cash submittable", :type => 'number' %>
							</div>
							<div class="two columns">
								<label for="2">2€</label>
								<%= f.number_field :bill2, :id => "2", :class => "cash submittable", :type => 'number' %>
							</div>
						  	<div class="two columns">
								<label for="1">1€</label>
								<%= f.number_field :bill1, :id => "1", :class => "cash submittable", :type => 'number' %>
						 	</div>
						  	<div class="two columns">
								<label for="0,50">0,50€</label>
								<%= f.number_field :bill0_50, :id => "0.50", :class => "cash submittable", :type => 'number' %>
						  	</div>
						  	<div class="two columns">
								<label for="0,20">0,20€</label>
								<%= f.number_field :bill0_20, :id => "0.20", :class => "cash submittable", :type => 'number' %>
						  	</div>
						  	<div class="two columns"></div>
						  	
						</div>
						<div class="row">
							<div class="two columns">
								<label for="0,10">0,10€</label>
								<%= f.number_field :bill0_10, :id => "0.10", :class => "cash submittable", :type => 'number' %>
						  	</div>
					  		<div class="two columns">
								<label for="0,05">0,05€</label>
								<%= f.number_field :bill0_05, :id => "0.05", :class => "cash submittable", :type => 'number' %>
					 		 </div>
							<div class="two columns">
								<label for="0,02">0,02€</label>
								<%= f.number_field :bill0_02, :id => "0.02", :class => "cash submittable", :type => 'number' %>
						  	</div>
					  		<div class="two columns">
								<label for="0,01">0,01€</label>
								<%= f.number_field :bill0_01, :id => "0.01", :class => "cash submittable", :type => 'number' %>
					  		</div>
					  		<div class="one columns">
					  		</div>
						</div>
						<div class="row">
					  		<div class="four columns">
								<label for="cash_total"><strong>Kassenbestand gesamt:</strong></label>
								<%= f.number_field :cash, :id => "cash_total", :class => "submittable", :type => 'number', :readonly => true %>
					  		</div>
						</div>  
				  	</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="six columns">
					<fieldset>
						<legend>Barentnahme</legend>
						<div class="row">
					  		<div class="two columns">
								<label for="200">200€</label>
								<%= f.number_field :ex_bill200, :id => "200", :class => "remove submittable", :type => 'number' %>
					  		</div>
					  		<div class="two columns">
								<label for="100">100€</label>
								<%= f.number_field :ex_bill100, :id => "100", :class => "remove submittable", :type => 'number' %>
					  		</div>
					  		<div class="two columns">
								<label for="50">50€</label>
								<%= f.number_field :ex_bill50, :id => "50", :class => "remove submittable", :type => 'number' %>
					  		</div>
							<div class="two columns">
								<label for="20">20€</label>
								<%= f.number_field :ex_bill20, :id => "20", :class => "remove submittable", :type => 'number' %>
							</div>
						  	<div class="two columns">
								<label for="10">10€</label>
								<%= f.number_field :ex_bill10, :id => "10", :class => "remove submittable", :type => 'number' %>
						  	</div>
						  	<div class="two columns"></div>
						</div>		
						<div class="row">
							<div class="two columns">
								<label for="5">5€</label>
								<%= f.number_field :ex_bill5, :id => "5", :class => "remove submittable", :type => 'number' %>
							</div>
							<div class="two columns">
								<label for="2">2€</label>
								<%= f.number_field :ex_bill2, :id => "2", :class => "remove submittable", :type => 'number' %>
							</div>
						  	<div class="two columns">
								<label for="1">1€</label>
								<%= f.number_field :ex_bill1, :id => "1", :class => "remove submittable", :type => 'number' %>
						 	</div>
						  	<div class="two columns">
								<label for="0,50">0,50€</label>
								<%= f.number_field :ex_bill0_50, :id => "0.50", :class => "remove submittable", :type => 'number' %>
						  	</div>
						  	<div class="two columns">
								<label for="0,20">0,20€</label>
								<%= f.number_field :ex_bill0_20, :id => "0.20", :class => "remove submittable", :type => 'number' %>
						  	</div>
						  	<div class="two columns"></div>
						  	
						</div>
						<div class="row">
							<div class="two columns">
								<label for="0,10">0,10€</label>
								<%= f.number_field :ex_bill0_10, :id => "0.10", :class => "remove submittable", :type => 'number' %>
						  	</div>
					  		<div class="two columns">
								<label for="0,05">0,05€</label>
								<%= f.number_field :ex_bill0_05, :id => "0.05", :class => "remove submittable", :type => 'number' %>
					 		 </div>
							<div class="two columns">
								<label for="0,02">0,02€</label>
								<%= f.number_field :ex_bill0_02, :id => "0.02", :class => "remove submittable", :type => 'number' %>
						  	</div>
					  		<div class="two columns">
								<label for="0,01">0,01€</label>
								<%= f.number_field :ex_bill0_01, :id => "0.01", :class => "remove submittable", :type => 'number' %>
					  		</div>
					  		<div class="one columns">
					  		</div>
						</div>
						<div class="row">
					  		<div class="four columns">
								<label for="remove_total"><strong>Barentnahme gesamt:</strong></label>
								<%= f.number_field :extraction, :id => "remove_total", :class => "submittable", :type => 'number', :readonly => true %>
					  		</div>
						</div>  
				  	</fieldset>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div id="finish" class="eight columns">
				<%= link_to 'Endabrechung prüfen', confirm_checkout_path(@checkout), :class => "round large button" %>
			</div>
		</div>
  	</div>
</div>
<br><br>



<div class="row">
	<div class="twelve colums">
		<div class="two mobile-one columns">
			<%= link_to 'Produkt-<br>umsätze'.html_safe, checkout_sales_path(@checkout), :class => 'button arrow_box'%>
		</div>
		<div class="two mobile-one columns">
			<%= link_to 'Z-Bon', checkout_z_bons_path(@checkout), :class => 'button arrow_box' %>
		</div>
		<div class="two mobile-one columns">
			<%= link_to 'Belege', checkout_receipts_path(@checkout), :class => 'button arrow_box' %>
		</div>
		<div class="two mobile-one columns">
			<%= link_to 'Kassen-<br>bestand'.html_safe, checkout_cash_balances_path(@checkout), :class => 'button active end_arrow_box' %>
		</div>
		<div class="two mobile-one columns">
		</div>
	</div>
</div>