<%= render :partial => '/checkouts/checkout_title' %>

<div class="row">
  	<h3>Kassenbestand (Schritt 4 von 4)</h3>

  	<p>Bitte Kassenbestand und anschließende Barentnahme aus der Kasse eingeben.</br>
  	Entweder Betrag direkt ins Form-Feld eingeben, oder <span class="glyph general">k</span> klicken und Scheine und Münzen einzeln eingeben. </p>
</div>
<br><br>

<%= form_for [@checkout, @cash_balance], :remote => true, :html => {:id => "cash_balance_form"} do |f| %>
	<%= f.hidden_field :checkout_id, :value => @checkout.id %>
  	<%= f.hidden_field :user_id, :value => @user.id %>
	<%= f.hidden_field :store_id, :value => @store.id %>
	<%= f.hidden_field :date, :value => @checkout.date %>
	<div class="row">
    	<div class="two mobile-one columns">
      		<label class="right inline">Kassenbestand:</label>
    	</div>
    	<div class="four mobile-two columns">
      		<%= f.number_field :cash, :id => "cash_total", :class => "submittable" %>
      	</div>
      	<div class="one columns" ><span class="glyph general has-tip tip-bottom" id="fire_cash_modal" data-width="90" title="Hier klicken um Scheine & Münzen einzugeben">k</span></div>
    	<div class="one colums"></div>
  	</div>
  	<div class="row">
    	<div class="two mobile-one columns">
      		<label class="right inline">Barentnahme:</label>
    	</div>
    	<div class="four mobile-two columns">
      		<%= f.number_field :extraction, :step => 2, :id => "remove_total", :class => "submittable" %>
      	</div>
      	<div class="one columns" ><span class="glyph general has-tip tip-bottom" id="fire_remove_modal" data-width="90" title="Hier klicken um Scheine & Münzen einzugeben">k</span></div>
    	<div class="one colums"></div>
  	</div>
<% end %>
<div class="row">
	<div id="finish" class="eight columns">
		<a id="fire_finish_modal" class="round large button">Endabrechung abschließen</a>
	</div>
</div>

<div class="row">
	<div class="twelve colums">
		<div class="two mobile-one columns">
			<%= link_to 'Produkt-<br>umsätze'.html_safe, checkout_sales_path(@checkout), :class => 'button arrow_box'%>
		</div>
		<div class="two mobile-one columns">
			<%= link_to 'Z-Bon', checkout_z_bons_path(@checkout), :class => 'button arrow_box' %>
		</div>
		<div class="two mobile-one columns">
			<%= link_to 'Belege', checkout_receipts_path(@checkout), :class => 'button arrow_box' %>
		</div>
		<div class="two mobile-one columns">
			<%= link_to 'Kassen-<br>bestand'.html_safe, checkout_cash_balances_path(@checkout), :class => 'button active end_arrow_box' %>
		</div>
		<div class="two columns">
		</div>
	</div>
</div>

<div id="cash_modal" class="reveal-modal large">
	<fieldset>
		<legend>Anzahl Scheine/Münzen in der Kasse</legend>
		<div class="row">
	  		<div class="two columns">
				<label for="500">500€</label>
				<input class="cash" id="500" type="number">
			</div>
	  		<div class="two columns">
				<label for="200">200€</label>
				<input class="cash" id="200" type="number">
	  		</div>
	  		<div class="two columns">
				<label for="100">100€</label>
				<input class="cash" id="100" type="number">
	  		</div>
	  		<div class="two columns">
				<label for="50">50€</label>
				<input class="cash" id="50" type="number">
	  		</div>
			<div class="two columns">
				<label for="20">20€</label>
				<input class="cash" id="20" type="number">
			</div>
		  	<div class="two columns">
				<label for="10">10€</label>
				<input class="cash" id="10" type="number">
		  	</div>
		</div>		
		<div class="row">
			<div class="two columns">
				<label for="5">5€</label>
				<input class="cash"id="5" type="number">
			</div>
			<div class="two columns">
				<label for="2">2€</label>
				<input class="cash"id="2" type="number">
			</div>
		  	<div class="two columns">
				<label for="1">1€</label>
				<input class="cash" id="1" type="number">
		 	</div>
		  	<div class="two columns">
				<label for="0,50">0,50€</label>
				<input class="cash" id="0.50" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="0,20">0,20€</label>
				<input class="cash" id="0.20" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="0,10">0,10€</label>
				<input class="cash" id="0.10" type="number">
		  	</div>
		</div>
		<div class="row">
	  		<div class="two columns">
				<label for="0,05">0,05€</label>
				<input class="cash" id="0.05" type="number">
	 		 </div>
			<div class="two columns">
				<label for="0,02">0,02€</label>
				<input class="cash" id="0.02" type="number">
		  	</div>
	  		<div class="two columns">
				<label for="0,01">0,01€</label>
				<input class="cash" id="0.01" type="number">
	  		</div>
	  		<div class="one columns">
	  		</div>
		</div>
		<div class="row">
	  		<div class="four columns">
				<label for="cash_total"><strong>Kassenbestand gesamt:</strong></label>
				<input id="cash_total" type="number">
	  		</div>
		</div>  
  	</fieldset>
  	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="remove_modal" class="reveal-modal large">
	<fieldset>
		<legend>Barentnahme:</legend>
		<div class="row">
			<div class="two columns">
				<label for="500">500€</label>
				<input class="remove" id="500" type="number">
		  	</div>
			<div class="two columns">
				<label for="200">200€</label>
				<input class="remove" id="200" type="number">
			</div>
			<div class="two columns">
				<label for="100">100€</label>
				<input class="remove" id="100" type="number">
			</div>
	 		<div class="two columns">
				<label for="50">50€</label>
				<input class="remove" id="50" type="number">
	 		</div>
		  	<div class="two columns">
				<label for="20">20€</label>
				<input class="remove" id="20" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="10">10€</label>
				<input class="remove" id="10" type="number">
		  	</div>
		</div>
		<div class="row">
		  	<div class="two columns">
				<label for="5">5€</label>
				<input class="remove"id="5" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="2">2€</label>
				<input class="remove"id="2" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="1">1€</label>
				<input class="remove" id="1" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="0,50">0,50€</label>
				<input class="remove" id="0.50" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="0,20">0,20€</label>
				<input class="remove" id="0.20" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="0,10">0,10€</label>
				<input class="remove" id="0.10" type="number">
		  	</div>
		</div>
		<div class="row">
		  	<div class="two columns">
				<label for="0,05">0,05€</label>
				<input class="remove" id="0.05" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="0,02">0,02€</label>
				<input class="remove" id="0.02" type="number">
		  	</div>
		  	<div class="two columns">
				<label for="0,01">0,01€</label>
				<input class="remove" id="0.01" type="number">
		  	</div>
		  <div class="one columns">
		  </div>
		</div>
		<div class="row">
		  	<div class="four columns">
				<label for="remove_total"><strong>Barentnahme gesamt:</strong></label>
				<input id="remove_total" type="number">
		  	</div>
		</div>  
	</fieldset>
	<a class="close-reveal-modal">&#215;</a>
</div> 

<div id="finish_modal" class="reveal-modal large">
	<h3>Endabrechnung beenden</h3>
	<p>Sind alle Angaben korrekt? Dann auf "abschließen" klicken. Zum korrigieren der Endabrechnung auf "zurück" klicken.</p>
	
	<fieldset>
		<h5>Produktumsätze</h5>
		<% unless @sales.nil? %>
			<ul class="square">
			<% @sales.each do |sale| %>
				<li><%= Product.find(sale.product_id).name %>: <%= number_to_currency(sale.value) %></li>
			<% end %>
			</ul>
		<% end %>
		
		<h5>Z-Bon</h5>
		<% unless @z_bon.nil? %>
			<ul class="square">
				<li>Tagesumsatz 19% MWSt: <%= number_to_currency(@z_bon.sale19) %></li>
				<li>Tagesumsatz 7% MWSt: <%= number_to_currency(@z_bon.sale7) %></li>	
			</ul>
		<% end %>
		
		<h5>Belege</h5>
		<% unless @receipts.nil? %>
			<% @receipts.each do |receipt| %>
				<%= receipt.text %>
				<ul class="square">
					<li>Brutto: <%= receipt.pre_tax %></li>
					<li>MWSt: <%= receipt.tax %></li>
					<li>Netto: <%= receipt.after_tax %></li>
				</ul>
			<% end %>
		<% end %>
			
		<h5>Kassenbestand:</h5>
		<% unless @cash_balance.nil? %>
			<ul class="square">
				<li>Kassenbestand: <%= number_to_currency(@cash_balance.cash) %></li>
				<li>Barentnahme: <%= number_to_currency(@cash_balance.extraction) %></li>
			</ul>
		<% end %>
		<br>
	</fieldset>
	
	<%= link_to "zurück", checkout_cash_balances_path(@checkout), :class => 'round secondary button' %>
	<%= link_to "abschließen", root_path, :class => 'round success button' %>
	
	
	
	<a class="close-reveal-modal">&#215;</a>
</div>