<%= render :partial => '/checkouts/checkout_title' %>

<div>
	<h3>Endabrechnung beenden</h3>
	<p>Sind alle Angaben korrekt? Dann auf "abschließen" klicken. Zum korrigieren der Endabrechnung auf "zurück" klicken.</p>
	
	<fieldset>
		<h5>Produktumsätze</h5>
		<% unless @sales.nil? %>
			<ul class="square">
			<% @sales.each do |sale| %>
				<li>
				<% if Product.exists?(sale.product_id) %>
					<%= Product.find(sale.product_id).name %>
				<% else %>
					gelöschtes Produkt
				<% end %>
				: <%= sale.value %></li>
			<% end %>
			</ul>
		<% end %>
		
		<h5>Z-Bon</h5>
		<% unless @z_bon.nil? %>
			<ul class="square">
				<li>Tagesumsatz 19% MWSt: <%= number_to_currency(@z_bon.sale19) %></li>
				<li>Tagesumsatz 7% MWSt: <%= number_to_currency(@z_bon.sale7) %></li>	
			</ul>
		<% end %>
		
		<h5>Belege</h5>
		<% unless @receipts.nil? %>
			<% @receipts.each do |receipt| %>
				<ul class="square">
					<li><%= receipt.text %>: <%= number_to_currency(receipt.value) %></li>
				</ul>
			<% end %>
		<% end %>
			
		<h5>Kassenbestand:</h5>
		<% unless @cash_balance.nil? %>
			<ul class="square">
				<li id="kasse">Kassenbestand: <%= number_to_currency(@cash_balance.cash) %></li>
				<li id="barent">Barentnahme: <%= number_to_currency(@cash_balance.extraction) %></li>
			</ul>
		<% end %>
		<br>
	</fieldset>
	
	<% if @last_balance.nil? %>
		
		<div class="panel">Keine Berechnung der Kassendifferenz möglich, da keine Daten zum vorherigen Tag gefunden!</div>
		
	<% elsif @cash_balance.cash.nil? %>
	
		<div class="panel">Keine Berechnung der Kassendifferenz möglich, da kein Kassenbestand angegeben!</div>
		
	<% else %>
		
		<table class="calculation">
			<% last_checkout = @last_balance.cash - @last_balance.extraction %>
			<tr>
				<td class="row_info">Kassenbestand vom <%= @last_balance.date.strftime("%d.%m.%Y") %></td>
				<td class="row_data"><%= number_to_currency(last_checkout) %></td>
			</tr>
			<tr>
				<td class="row_info">+ heutiger Umsatz:</td>
				<td class="row_data"> <%= number_to_currency(@z_bon.sale19 + @z_bon.sale7) %></td>
			</tr>
			<tr>
				<td class="row_info">- heutige Belege:</td>
				<td class="row_data"><%= number_to_currency(@receipts.sum(:value)) %></td>
			</tr>
			<% subtotal = last_checkout + @z_bon.sale19 + @z_bon.sale7 - @receipts.sum(:value) %>
			<tr>
				<td class="row_info"><strong>=</strong></td>
				<td class="row_data"><strong><%= number_to_currency(subtotal) %></strong></td>
			</tr>
			
			<tr>
				<td class="row_info">Heute gezählter Bestand:</td>
				<td class="row_data"><strong><%= number_to_currency(@cash_balance.cash) %></strong></td>
			</tr>
			
			<tr>
				<td class="row_info"><strong>Differenz:</strong></td>
				<% if subtotal === @cash_balance.cash %>
					<td class="row_data true">
				<% else %>
					<td class="row_data false">
				<% end %>
				<strong><%= number_to_currency(subtotal - @cash_balance.cash) %></strong></td>
			</tr>
		</table>
		
	<% end -%>
	
	<%= link_to "zurück", checkout_cash_balances_path(@checkout), :class => 'round secondary button' %>
	<%= link_to "abschließen", finish_checkout_path(@checkout), :class => 'round success button' %>

</div>