<div class="row">
	<div class="twelve columns">
		<h2>Endabrechnung</h2>
		<h5>Datum: <strong><%= @checkout.date %></strong><br>
			<% unless @store.nil? %>
				Filiale: <strong><%= @store.name %></strong>
			<% end %>
		</h5>
		<div>
			<p><em>Dev-Info:</em><br>
			ID: <%= @checkout.id %><br>
			Date: <%= @checkout.date %> <br>
			<% unless @store.nil? %>
				Store: <%= @store.name %><br>
			<% end %>
			User: <%= @user.name %> </p>
		</div>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<h3>Produktumsätze erfassen (Schritt 1 von 4)</h3>
		<%= nested_form_for @checkout do |f| %>
			<div class="fields">
				<% @n = 0 %>
				<%= f.fields_for :sales, :remote => true do |sale_form| %>
					<%= sale_form.hidden_field :user_id, :value => current_user.id %>
		      		<%= sale_form.hidden_field :store_id, :value => @checkout.store_id %>
		      		<%= sale_form.hidden_field :date, :value => @checkout.date %>
		      		<%= sale_form.hidden_field :product_id, :value => @products[@n].id %>
					<div class="row">
						<div class="two mobile-one columns">
							<label class="right inline">
								<%= @products[@n].name %>:
							</label>
						</div>
						<div class="two columns">
							<%= sale_form.number_field :value, :class => 'submittable' %>
						</div>
						<div class="one colums"></div>
					</div>
					<% @n += 1 %>
				<% end %>
			</div>
			<%= f.submit "weiter", :class => "medium success button", :method => 'step2' %>
		<% end %>
	</div>
</div>


