<h3>Produkte</h3>

<p>Hier können Produkte erstellt und bearbeitet werden. Ebenfalls kann durch die Checkbox angegeben werden, welche Produkte in der Produktumsatzabfrage aufgeführt werden. Alle Änderungen hier werden automatisch (ohne drücken eines "Speichern"-Buttons) gespeichert.</p>

		
<div class="row">
	<div class="six columns">
		<div class="row">
			<div class="eight columns headline">Produktname</div>
			<div class="two columns headline">
			
			</div>
		</div>
		<% @products.each do |product| %>
			<%= form_for product, :remote => true do |f| %>
				<div class="row">
					<div class="eight columns">
						<%= f.text_field :name, :class => 'submittable' %>
					</div>
					<div class="two columns">
						<span>abfragen?</span> <%= f.check_box :capture, :class => 'submittable' %>
					</div>
					<div class="two columns">
						<%= link_to 'löschen', product, :method => :delete, :confirm => "sicher?" %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>		
</div>
		


<%= link_to 'Neues Produkt', new_product_path, :class => "tiny round button" %>
