<table border="1">

  <tr>
    <th>ID</th>
    <th>Datum</th>
    <th>Filiale</th>
    <th>Mitarbeiter</th>
    <th>Text</th>
    <th>Netto</th>
    <th>MWSt</th>
    <th>Brutto</th>
  </tr>

  <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.id %></td>
        <td><%= receipt.date.strftime("%d.%m.%y %H:%M") %></td>
        <td> 
          <% if Store.exists?(receipt.store_id) %>
            <%= Store.find(receipt.store_id).name %>
          <% else %>
            --
          <% end %>
        </td>
        <td><%= User.find(receipt.user_id).name %></td>
        <td><%= receipt.text %></td>
        <td><%= number_to_currency(receipt.value) %></td>
      </tr>
    <% end %>
</table>