<table border="1">

  <tr>
    <th>ID</th>
    <th>Datum</th>
    <th>Produkt</th>
    <th>Filiale</th>
    <th>Mitarbeiter</th>
    <th>Umsatz</th>
  </tr>

  <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.id %></td>
      <td><%= sale.date.strftime("%d.%m.%y %H:%M") %></td>
      <td>
        <% if Product.exists?(sale.product_id) %>
          <%= Product.find(sale.product_id).name %>
        <% else %>
          Produkt existiert nicht
        <% end %>
      </td>
      <td> 
        <% if Store.exists?(sale.store_id) %>
          <%= Store.find(sale.store_id).name %>
        <% else %>
          --
        <% end %>
      </td>
      <td><%= User.find(sale.user_id).name %></td>
      <td><%= sale.value %></td>
    </tr>
  <% end %>
</table>