<%= render :partial => '/checkouts/checkout_title' %>

<div class="row">
	<div class="twelve columns">
		<h3>Produktumsätze erfassen (Schritt 1 von 4)</h3>
		<% @products.each do |product| %>
			<% sale = @sales.find_by_product_id(product.id) %>
			<div class="fields">
				<% if sale.nil? %>
					<%= form_for [@checkout, @sale], :remote => true do |f| %>
						<%= f.hidden_field :checkout_id, :value => @checkout.id %>
						<%= f.hidden_field :user_id, :value => @user.id %>
			      		<%= f.hidden_field :store_id, :value => @store.id %>
			      		<%= f.hidden_field :date, :value => @checkout.date %>
			      		<%= f.hidden_field :product_id, :value => product.id %>
			      		<div class="row">
							<div class="two mobile-one columns">
								<label class="right inline">
									<%= product.name %>: 
								</label>
							</div>
							<div class="two columns">
								<%= f.number_field :value, :class => 'submittable' %>
							</div>
							<div class="one colums"></div>
						</div>
					<% end %>
				<% else %>
					<%= form_for [@checkout, sale], :remote => true do |f| %>
						<%= f.hidden_field :checkout_id, :value => @checkout.id %>
						<%= f.hidden_field :user_id, :value => @user.id %>
			      		<%= f.hidden_field :store_id, :value => @store.id %>
			      		<%= f.hidden_field :date, :value => @checkout.date %>
			      		<%= f.hidden_field :product_id, :value => product.id %>
			      		
						<div class="row">
							<div class="two mobile-one columns">
								<label class="right inline">
									<%= product.name %>: 
								</label>
							</div>
							<div class="two columns">
								<%= f.number_field :value, :class => 'submittable' %>
							</div>
							<div class="one colums"></div>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<div class="row">
  	<div class="twelve colums">
    	<div class="two mobile-one columns">
    		<%= link_to 'Produkt-<br>umsätze'.html_safe, checkout_sales_path(@checkout), :class => 'button arrow_box active'%>
    	</div>
    	<div class="two mobile-one columns">
    		<%= link_to 'Z-Bon', checkout_z_bons_path(@checkout), :class => 'button arrow_box' %>
    	</div>
    	<div class="two mobile-one columns">
    		<%= link_to 'Belege', '#', :class => 'button arrow_box' %>
    	</div>
    	<div class="two mobile-one columns">
    		<%= link_to 'Kassen-<br>bestand'.html_safe, '#', :class => 'button end_arrow_box' %>
    	</div>
    	<div class="two columns">
    	</div>
  	</div>
</div>


