<div class="contain-to-grid">  
  
  <nav class="top-bar">
    <ul>
      <li class="name">
        <% logo = image_tag("sf_logo.png") %>
        <%= link_to logo, root_path %>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
      <ul class="left">
        <% if user_signed_in? %>
          <% if current_user.time_tracking == true %>
            <li> <%= active_link_to 'Zeiterfassung', timetracking_path %></li>
          <% end %>

          <% if current_user.time_tracking_admin == true %>
              <li> <%= active_link_to 'Zeiterf.Verwaltung', shifts_path %></li>
          <% end %>
              
          <% if current_user.user_management == true %>
              <li> <%= active_link_to 'User Management', users_path %></li>
          <% end %>
          <li>
          <%= active_link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
          </li>
        <% else %>
          <li>
          <%= active_link_to 'Login', new_user_session_path %>  
          </li>
        <% end %>
      </ul>
    </section>
  </nav>


</div>
