<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppenfabrik 
    <% unless @title.nil? %>
      | <%= @title %>
    <% end %>
  </title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--<%= csrf_meta_tags %>-->
    <%= yield(:head) %>
    <script type="text/javascript">
    </script>
  </head>
  <body>

    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
      </header>
      <div class="row">
        <div class="nine columns">
          <%= yield %>
        </div>
        <div class="three columns">
          <%= render 'layouts/sidebar' %>
        </div>
      </div> 
      <footer>
      </footer>
    </div> <!--! end of #container -->
    <script src="/assets/foundation/app.js"></script>
    <script src="/assets/foundation/index.js"></script>
  </body>
</html>
